html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: sans-serif;
}

.w-referral {
  width: 300.75px;
  min-width: 300.75px;
  max-width: 300.75px;
  margin: 0 auto;
}

.h-fixed {
  height: 332px;
}